@page "/"

<PageTitle>Student Services Portal</PageTitle>
<div dir="ltr" class="row align-content-lg-center">
    <h1>Hello, WDC!</h1>
    <div class="col">
        <div class="alert alert-info"> MASTER IN WEB SIENCES. <br /> WDC Homework 1 <br /> S23</div>
    </div>
    <div style="font-size:50pt; font-weight:bold">
        <center> Distributed Computing </center>
    </div>

</div>

<div class="alert alert-light">
    <div class="fw-bold mb-3">تقديم الطلاب</div>
    <table class="table table-bordered table-hover table-responsive table-striped w-50">
        <thead>
            <tr class="bg-secondary bg-gradient">
                <th>اسم الطالب</th>
                <th>الرقم</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>محمد الشامي</td>
                <td>muhammad_227086</td>
            </tr>
            <tr>
                <td>محمد عارف الشامي</td>
                <td>Muhammad_aaref_218434</td>
            </tr>
            <tr>
                <td>فاطمة الزهراء الشامي</td>
                <td>Fatima_alzahra_255920</td>
            </tr>
            <tr>
                <td>بشرى السطلي</td>
                <td>Boushra_252969</td>
            </tr>
        </tbody>
    </table>
</div>
