@page "/Admission"
@inject IHttpCaller Caller

<div class="row">
    <div class="col">
        <Create OnPosted="Fill" />
    </div>
</div>

@if (Models.Any())
{
    <div class="row">
        <div class="col">
            <List Admissions="Models" OnUpdated="Fill" />
        </div>
    </div>
}

@code {
    IEnumerable<AdmissionViewModel> Models = Enumerable.Empty<AdmissionViewModel>();

    [CascadingParameter(Name = "ErrorComponent")]
    public IErrorComponent? ErrorComponent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Fill();
    }

    async Task Fill()
    {
        try
        {
            Models = await Caller.Get<AdmissionViewModel>("AdmissionService/List");
            this.StateHasChanged();
        }
        catch (Exception ex)
        {
            ErrorComponent?.ShowError("Admissio Service Error", ex.Message);
        }
    }
}
