@page "/Admission"
@inject IHttpCaller Caller

<div class="row">
    <div class="col">
        <Create OnPosted="FormPosted" />
    </div>
</div>

@if (Models.Any())
{
    <div class="row">
        <div class="col">
            <List Admissions="Models" />
        </div>
    </div>
}

@code {
    IEnumerable<AdmissionViewModel> Models = Enumerable.Empty<AdmissionViewModel>();
    protected override async Task OnInitializedAsync()
    {
        await Fill();
    }

    async void FormPosted(object o)
    {
        await Fill();
    }

    async Task Fill()
    {
        Models = await Caller.Get<AdmissionViewModel>("AdmissionService/List");
    }
}
